flask
gunicorn
boto3
langchain-community
beautifulsoup4
langchain-core
requests
duckduckgo-search
PyMuPDF
python-pptx
openpyxl
pandas
python-docx
Werkzeug
Pillow
Flask-Session
yake
pdfplumber
langchain
langchain-aws
tavily-python
flask-cors
